/* ELEMENTS */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://i.ibb.co/hdZb9Sz/wp5813011.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  display: flex;
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  width: 65%;
  border-radius: 10px;
}

li {
  text-align: center;
  display: flex;
  margin: 0 auto;

}


li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 30px 32px;
  text-decoration: none;
  font-size: large;
}

li a:hover {
  background-color: #585757;

}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  flex-direction: column;
}

footer p {
  display: block;
  z-index: 10;
  color: hotpink;
  font-size: 15px;
  position: relative;
  margin-top: 25px;
  background-color: #000000;
  border: 2px solid rgb(184, 15, 241);
}

/* ANIMATION */

@keyframes bounce {
  from {
    transform: translate Y (0px);
  }
  to {
    transform: translateY(
      var(--bounce-offset)
    );
  }
}

/* ANIMATION */

@keyframes bounce {
  from {
    transform: translate Y (0px);
  }
  to {
    transform: translateY(
      var(--bounce-offset)
    );
  }
}

.EDM, .Trap, .Wubstep {
  animation: bounce alternate infinite;
}

/* EDM Meeples */
#dj-EDM {
  --bounce-offset: -13px;
  animation-duration: 242ms;
}

#r1-EDM {
  --bounce-offset: -28px;
  animation-duration: 121ms;
}

#r2-EDM {
  --bounce-offset: -35px;
  animation-duration: 242ms;
}

#r3-EDM {
  --bounce-offset: -19px;
  animation-duration: 121ms;
}

#r4-EDM {
  --bounce-offset: -43px;
  animation-duration: 242ms;
}

/* Trap Meeples */
#dj-Trap {
  --bounce-offset: -20px;
  animation-duration: 364ms;
}

#r1-Trap {
  --bounce-offset: -20px;
  animation-duration: 182ms;
}

#r2-Trap {
  --bounce-offset: -35px;
  animation-duration: 182ms;
}

#r3-Trap {
  --bounce-offset: -42px;
  animation-duration: 364ms;
}

#r4-Trap {
  --bounce-offset: -30px;
  animation-duration: 182ms;
}

/* Wubstep Meeples */
#dj-Wubstep {
  --bounce-offset: -25px;
  animation-duration: 345ms;
}

#r1-Wubstep {
  --bounce-offset: -33px;
  animation-duration: 345ms;
}

#r2-Wubstep {
  --bounce-offset: -53px;
  animation-duration: 345ms;
}

#r3-Wubstep {
  --bounce-offset: -130px;
  animation-duration: 345ms;
}

#r4-Wubstep {
  --bounce-offset: -40px;
  animation-duration: 345ms;
}


/* CLASSES */

.hero-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.genreimg {
  border: 10px solid rgb(184, 15, 241);
}

.mixer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10;
  background-color: #000000;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  flex-direction: column;
  border: 10px solid rgb(184, 15, 241);
  margin-bottom: 20px;
  margin-top: 30px;
  border-radius: 10px;
}

/* CONTAINERS */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10;
  background-color: #000000;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  flex-direction: column;
  color: aqua;
  padding-bottom: 20px;
}

.image-container {
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.padscontainer {
  display: flex;
  align-items: center;
  height: 10;
  background-color: #000000;
  width: 65%;
  overflow: auto;
  flex-direction: column;
  color: aqua;
  float: left;
}

.instructions {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  display: inline-flex;
}

.welcome-message, .instructions {
  margin: 15px;
}

.welcome-message {
  text-align: justify;
}

/* BUTTONS */

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.reset-database {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10;
  background-color: #000000;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  flex-direction: column;
  border: 5px solid rgb(184, 15, 241);
  margin-bottom: 20px;
  margin-top: 30px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.reset-database-button {
  font-size: 20px;
  background-color: #e5d527;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

/* DRUM PADS */

.drum-pad {
  width: 100px;
  height: 100px;
  background-color: #fc3b78;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.drum-pad:hover {
  background-color: #626362;
}

.drum-pad-on {
  width: 100px;
  height: 100px;
  background-color: #0fa339;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

/* BASS PADS */

.bass-pad {
  width: 100px;
  height: 100px;
  background-color: #ff8800;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.bass-pad:hover {
  background-color: #626362;
}

.bass-pad-on {
  width: 100px;
  height: 100px;
  background-color: #0fa339;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

/* LEAD PADS */

.synth-pad {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 245, 233, 0.692);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.synth-pad:hover {
  background-color: #626362;
}

.synth-pad-on {
  width: 100px;
  height: 100px;
  background-color: #0fa339;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.play-btn {
  width: 100px;
  height: 100px;
  background-color: #610bd8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 25px;
}

.reset-btn {
  font-size: 40px;
  background-color: #f01111;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 25px;
}

/* ID */

#welcome {
  color: white;
}